<div class="app">
  <p>進捗: <button id="up">+</button> <button id="down">-</button></p>

  <div id="prog-bar" class="progress">
    <div class="progress-bar">
    </div>
  </div>
</div>

<script>
var Progress = (function () {
 function Progress (p) {
    this.bar = document.querySelectorAll('#prog-bar > .progress-bar')[0];
    this.p = p;
    this.update();
  };
  Progress.prototype.update = function ()  {
    this.bar.style.width = this.p + '%';
  };
  Progress.prototype.countup = function () {
    if (this.p < 100) { this.p += 10; }
    this.update();
  };
  Progress.prototype.countdown = function () {
    if (0 < this.p) { this.p -= 10; }
    this.update();
  };
  return Progress;
}());

var up = document.getElementById('up');
var down = document.getElementById('down');
var p = new Progress(0);

up.addEventListener('click', function (e) { p.countup(); });
down.addEventListener('click', function (e) { p.countdown(); });
</script>
